name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Fetch library
      run: |
          bash update_libchdb.sh --local
          sudo mv libchdb.so /usr/lib/libchdb.so
          sudo ldconfig
    - name: Check formatting
      run: cargo fmt --check
    - name: Check clippy
      run: cargo clippy --all-targets --all-features -- --deny warnings
    - name: Build
      run: cargo build --verbose
      env:
        RUST_BACKTRACE: full
    - name: Run tests
      run: cargo test -- --test-threads=1
      env:
        RUST_BACKTRACE: full
